html{
  background: url(../images/mySycamore.png) no-repeat center center fixed;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  background-size: 100%;
};
//Got this tip about the background image from
//https://css-tricks.com/perfect-full-page-background-image/
.container{
  //margin:0;
  //padding: 0;
.navbar{
  background-color: #6EDAE2;
  width: 100%;
  color: white;
  }
}
