body{
font-family: 'Indie Flower', cursive;
}

.center_content{
text-align: center;
}

#detail_view{

#detail_jumbotron{
  background: #FFFFFF;
}


  li{
    font-size: 2em;
    list-style: none;

  }
}
