body{
font-family: 'Indie Flower', cursive;
}

.center_content{
text-align: center;
}

//NavBar Styling
#navbar{
#navbar_link{
  font-size: 2em;
  }
}

  //Detail View Styling
  #detail_view{

    #detail_jumbotron{
    background: #FFFFFF;
  }
    li{
      font-size: 2em;
      list-style: none;
    }
  }
