<div class="input-group submit-form row">
  <div class="col-md-6 col col-md-offset-4">
    <input type="text" class="form-control" placeholder="Name">
    <!-- <a href ui-sref="cards({cardId: })"></a> -->
    <input type="text" class="form-control" placeholder="Est." {{cardId.name}}>

    <input type="text" class="form-control" placeholder="BirthPlace">
    <input type="text" class="form-control" placeholder="Bio">
    <input type="text" class="form-control" placeholder="Phone Number">
    <input type="text" class="form-control" placeholder="Email">
  </div>
</div>