<div class="col-lg-12">
  <a href="#/tree" class=" col-md-offset-1">mySycamore</a>
  <a href="#/submit/:card" class=" col-md-offset-4">Add Relative</a>

  <a ui-sref="edit({card: id})" class="col-md-offset-4">EditTree</a>
</div>


<br>
<br>
<div class="input-group submit-form row" id="detail_view">

  <div class="col-lg-12 col-lg-offset-12 jumbotron" id="detail_jumbotron">
    <ul id="detail_view_list">
      <li class="list_title">Name</li>
      <li>{{card.name}}</li>
      <li class="list_title">Date of Birth</li>
      <li>{{card.est}}</li>
      <li class="list_title">Birthplace</li>
      <li>{{card.birthplace}}</li>
      <li class="list_title">Bio</li>
      <li>{{card.bio}}</li>
      <li class="list_title">Phone</li>
      <li>{{card.phone}}</li>
      <li class="list_title">Email</li>
      <li>{{card.email}}</li>
    </ul>
    <!--End of Card -->


  </div>
</div>