<div class="input-group submit-form row">
  <div class="col-md-6 col col-md-offset-4">

    <h1>EDIT PAGE</h1>
    <form ng-submit="submitCard()">
      <input type="text" class="form-control" placeholder="Name" ng-model="card.name">
      <input type="text" class="form-control" placeholder="Est." ng-model="card.est">
      <input type="text" class="form-control" placeholder="BirthPlace" ng-model="card.birthplace">
      <input type="text" class="form-control" placeholder="Bio" ng-model="card.bio">
      <input type="text" class="form-control" placeholder="Phone Number" ng-model="card.phone">
      <input type="text" class="form-control" placeholder="Email" ng-model="card.email">
    </form>
  </div>
</div>