<div class="input-group submit-form row">
  <div class="col-md-6 col col-md-offset-4">

    <h1>EDIT PAGE</h1>
    <div class="input-group submit-form row">
      <form ng-submit="editCard()">
        <div ng-repeat="card in list">
          <input type="text" class="form-control" placeholder="Name" ng-model="card.name" ng-change="list.$save(card)">
          <input type="text" class="form-control" placeholder="Est." ng-model="card.est" ng-change="list.$save(card)">
          <input type="text" class="form-control" placeholder="BirthPlace" ng-model="card.birthplace" ng-change="list.$save(card)">
          <input type="text" class="form-control" placeholder="Bio" ng-model="card.bio" ng-change="list.$save(card)">
          <input type="text" class="form-control" placeholder="Phone Number" ng-model="card.phone" ng-change="list.$save(card)">
          <input type="text" class="form-control" placeholder="Email" ng-model="card.email" ng-change="list.$save(card)">
          <input type="submit" value="Submit Relative" id="submitButton">
        </div>
      </form>
    </div>
  </div>
  <!--End of grid -->
</div>