<div id="tree-view" class="container" ng-controller="TreeController">



  <div class="center_content">
    <!-- Start of Arrows -->
    <div id="position_controls">
      <h4>Position Relative</h4>
      <img src="../../images/uparrow.png" alt="" class="arrows up">
      <div>
        <img src="../../images/leftarrow.png" alt="" class="arrows left">
        <img src="../../images/rightarrow.png" alt="" class="arrows right">
      </div>
      <img src="../../images/downarrow.png" alt="" class="arrows">
    </div>


    <!-- Beginning of Card -->
    <div class="btn-group" dropdown ng-repeat="(id, card) in cards">
      <a class="btn btn-lg btn-success tree_cards" ui-sref="cardDetail({card: id})">
          {{card.name}}
      </a>
      <button type="button" class="btn btn-lg btn-success dropdown-toggle" ng-click="toggle = !toggle" ng-class="{'position_active': toggle}">
        <img src="../../images/pin.png" alt="" class="toggle_pin">
      </button>
      <!-- <ul class="dropdown-menu">
        <li><a href="#/submit">Parent</a></li>
        <li><a href="#/submit">Sibling</a></li>
        <li><a href="#/submit">Spouse</a></li>
        <li><a href="#/submit">Child</a></li>
        <li role="separator" class="divider"></li>
        <li><a ui-sref="edit({card: id})">
                  Edit
              </a>
        </li>
        <li role="separator" class="divider"></li>
        <li><a href="" ng-click="deleteCards(card)">Delete</a></li>

      </ul> -->


    </div>
  </div>

  <!--End of Card -->


</div>