<div id="tree-view" class="container" ng-controller="TreeController">



  <div class="center_content ">




    <!-- Beginning of Card -->
    <div class="btn-group " dropdown ng-repeat="(id, card) in cards">
      <a class="btn btn-lg btn-success tree_cards" ui-sref="cardDetail({card: id})">
         {{card.name}}
     </a>
      <!-- End of Card -->
      <!-- Beginning of Dropdown Button -->
      <a href="" type="button" class="btn btn-lg btn-success dropdown-toggle" data-toggle="dropdown" dropdown-toggle>
        <span class="caret"></span>
        <span class="sr-only"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="#/submit/:card">Parent</a></li>
        <li><a href="#/submit/:card">Sibling</a></li>
        <li><a ui-sref="submit({card: id})">Spouse</a></li>
        <li><a href="#/submit/:card">Child</a></li>
      </ul>
      <!-- End of Dropdown Menu -->

    </div>
    <!-- End of card and dropdown -->

  </div>
  <!--End of Center Content -->


</div>