<div id="tree-view" class="container" ng-controller="TreeController">



  <div class="center_content">




    <div id="row2" class="col-md-3">Row 2</div>
    <div id="row1" class="col-md-3">Row 1</div>
    <div id="row0" class="col-md-10">
      <!-- Beginning of Card -->
      <ul ui-sortable="sortableOptions" ng-model="cards">
        <li class="btn-group tree_cards " dropdown ng-repeat="(id, card) in cards">
          <a class="btn btn-lg btn-success ">
          {{card.name}}
      </a>
          <!-- ui-sref="cardDetail({card: id})" -->
          <!-- End of Card -->
          <!-- Beginning of Dropdown Button -->
          <a class="btn btn-lg btn-success" ui-sref="cardDetail({card: id})">
V      </a>
        </li>
      </ul>
      Row 0</div>

    <!-- <ul class="dropdown-menu">
      <li><a href="" ng-click="toggle_grandParent = !toggle_grandParent">Grand Parent</a></li>
      <li><a href="" ng-click="toggle_parent = !toggle_parent">Parent</a></li>
      <li><a href="" ng-click="toggle_sibling = !toggle_sibling">Sibling</a></li>
      <li><a href="" ng-click="toggle_spouse = !toggle_spouse">Spouse</a></li>
      <li><a href="" ng-click="toggle_child = !toggle_child">Child</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="" ng-click="deleteCard(id)">Delete</a></li>
    </ul> -->
    <!-- End of Dropdown Menu -->

  </div>
  <!-- End of card and dropdown -->

</div>
<!--End of Center Content -->


</div>